body {
  background: #f1f1f1;
  width: 80%;
  margin: 0 auto;
  h1 {
    color: #757575;
  }
}

.content {
  display: flex;
  margin-top: 20px;
}

.pokemon-container {
  width: 200px;
  height: 100%;
  background: white;
  border-radius: 2px;
  padding: 20px;
  color: #757575;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
}

.pokemon-img {
  width: 150px;
  height: 150px;
  align-self: center;
}

.stats-container {
  height: 100%;
  margin-left: 30px;
  background: white;
  border-radius: 2px;
}